<!DOCTYPE html>
<html>
<head>
  <title>Short url</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "short_url/application", media: "all" %>
  <%= javascript_include_tag "short_url/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
